# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.pyc
admin.py

# Ignore Flask session files
flask_session/
instance/

# Ignore uploads if needed
uploads/

# Ignore temporary files
*.log
*.sqlite3
*.db

# Ignore Flask session data and __pycache__
flask_session/
__pycache__/
*.pyc
