{% extends "layout.html" %}

{% block title %}
    | About
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mb-4">🏥Patient DBMS</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perferendis rerum quia hic ducimus. Consectetur itaque adipisci hic! Quidem, dolores.
        </p>
        <hr>
        <h4>🔍 How It Works:</h4>
        <ul class="text-start list-unstyled text-center mx-auto">
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, possimus.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloremque.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, facilis.</li>
        </ul>
        <div class="mt-5">
        <h4>⚙️ Technologies Used:</h4>
        <ul class="text-start list-unstyled text-center mx-auto" >
            <li>Flask for the web interface</li>
            <li>Bootstrap for styling</li>
        </ul>
        </div>
        <div class="mt-5">
        <h4>👨‍💻 Developer:</h4>
        <p>Created as a part of a IBM Project. Built with ❤️ and coffee!</p>
        <p>Team members: Mudit, Naina, Ramya, Prateek, Vidhi, Yashas, Krish, Abhishek</p>
        </div>
    </div>
{% endblock %}
