{% extends "layout.html" %}

{% block title %}
    | About
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mb-4">🏥Patient DBMS</h1>
        <p class="lead">
            A streamlined web-based solution to efficiently manage patient records in clinics and small-scale hospitals. Designed to ensure easy
            data handling, smart report generation, and accessible digital health summaries.
        </p>
        <hr>
        <h4>🔍 How It Works:</h4>
        <ul class="text-start list-unstyled text-center mx-auto">
            <li>Patients are registered through a secure form, storing essential personal and medical details.</li>
            <li>Doctors and admins can view, update, or delete patient records as needed.</li>
            <li>All records are stored in a structured database and can be accessed instantly.</li>
            <li>The system ensures organized data flow and supports easy management for small clinics or medical setups.</li>
        </ul>
        <div class="mt-5">
        <h4>⚙️ Technologies Used:</h4>
        <ul class="text-start list-unstyled text-center mx-auto" >
            <li>Flask for the web interface</li>
            <li>Bootstrap for styling</li>
        </ul>
        </div>
        <div class="mt-5">
        <h4>👨‍💻 Developer:</h4>
        <p>Created as a part of a IBM Project. Built with ❤️ and coffee!</p>
        <p>Team members: Mudit, Naina, Ramya, Prateek, Vidhi, Yashas, Krish, Abhishek</p>
        </div>
    </div>
{% endblock %}
