{% extends "layout.html" %}

{% block title %}
    Customer Support
{% endblock %}

{% block main %}

<div class="card w-75 mx-auto shadow border-primary">
    <div class="card-header bg-secondary text-white text-center">
        📞 Customer Support
    </div>

    <div class="card-body text-center">

        <p><strong>Headquarters:</strong><br>
        1234 Healthcare Avenue<br>
        Sector 21, New Delhi, India - 110001</p>

        <p><strong>Email:</strong><br>
        support@pdbmshealth.com</p>

        <p><strong>Mobile Number:</strong><br>
        +91-9876543210</p>

    </div>
</div>

{% endblock %}
